
.connexion {
    background-image: linear-gradient(to right, #44daed, #b5f451);
    color: white;
    border-radius: 20px;
}

.connexion:hover {
    color: black;

}

.collapse .navbar-nav .connexion .nav-link {
    color: white;
}

.collapse .navbar-nav .connexion .nav-link:hover {
    color: white;
}

.travler {
    font-family: "Anglena", "sans-serif";
    font-size: 2rem;

}

.company {
    color: #b1dd04;
    font-size: 0.8rem;
}

.navbar-brand {
    margin-left: 20px;
}

.navbar a {
    font-weight: 600;
    font-size: 0.8rem;

    color: #ffffff;
}

.navbar-collapse {
    justify-content: flex-end;
    font-size: 0.8em;
}

.nav-item {
    padding: 10px;
}

.logo {
    width: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15%;
    margin: 0;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #b1dd04;
}

.dropdown-menu {
    font-family: 'Open Sans';
    font-weight: 500;
    border: none;

    background-color: #f8f9fa;
}

.dropdown-menu a {
    color: black;

}



.dropdown-item:hover {
    color: #b1dd04;
}
