body {
	margin: 0;
	font-family: 'Open Sans';
	color: #ffffff;
	background-color: #F7F9FB;
	height: 100vh;
	width: 100%;
	overflow-y: hidden;
}

.box {
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.photo {
	background-image: url(photos/signup.jpg);
	background-position: center;
	background-size: cover;
	background-color: black;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}

.signupBox {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	background-color: #1b1b1b;
}

form {
	width: 75%;
	height: 100vh;
	min-height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
	background-color: #1b1b1b;
}

label {
	text-align: center;
}

legend {
	font-size: 2rem;
}

.submit {
	text-align: center;
	width: 50%;
	margin: auto;
}

input {
	color: #F7F9FB;
	width: 100%;
	margin-bottom: 5px;
	border: none;
	border-bottom: 1px solid #b5f451;
	background-color: rgba(247, 249, 251, 0);
}

input:first-child {
	margin-bottom: 10px;
}

input:focus {
	outline: none;
}

.connexion {
	padding: 10px;
	margin-top: 20px
}

@media (max-width:768px) {
	.photo {
		display: none
	}
	.signupBox {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		background-color: #1b1b1b;
		height: 100%;
	}
	legend {
		text-align: center;
	}
	form {
		padding-top: 100px
	}
	img.logo {
		display: none
	}
}