@import url('https://fonts.googleapis.com/css?family=Lato');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: rgb(54, 54, 54);
    color: white;
    font-family: 'Lato';
    letter-spacing: 2px;
}

header{
    background-image: url();
}

.container{
    height: 100vh;
    width: 100%;
}

.centerh{
    justify-content: center;
}

div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center{
    text-align: center;
}

.container40{
    height: 40%;
}

.container60{
    height: 60%;
}

h1{
font-size: 3em;
margin-top: 0;
margin-bottom: 2em;
}

a{
border: 2px white solid;
padding: 7px;
border-radius: 7px;
text-decoration: none;
color: white;
}

a:hover {
  background-color: white;
  color:rgb(54, 54, 54);
}