@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');
@font-face {
	font-family: edo;
	src: url(fonts/edo.ttf);
}

html {
	scroll-behavior: smooth;
	background-color: rgb(0, 0, 0);
}

body {
	margin: 0;
	background-color: rgba(0, 0, 0, 0);
	color: rgb(255, 255, 255);
	font-family: 'Raleway';
	font-weight: 600;
	letter-spacing: 2px;
}

p {
	color: #ffffff
}

.logotravler {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 20px;
	right: 20px;
	border: none;
}

.logotravler img {
	width: 100%;
}

.logotravler:hover {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	perspective: 1000px;
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

header {
	background-image: url();
	color: white;
}

.container {
	height: 100vh;
	width: 100%;
}

.centerh {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.center {
	text-align: center;
	padding: 20px;
}

.container40 {
	height: 40%;
}

.container60 {
	height: 60%;
}

h1 {
	font-size: 3em;
	margin-top: 0;
	margin-bottom: 2em;
}

a {
	border: 2px white solid;
	padding: 7px;
	border-radius: 7px;
	text-decoration: none;
	color: white;
	transition: 0.6s all ease;
}

a:hover {
	background-color: white;
	color: black;
	transition: 0.6s all ease;
}

.button {
	background-color: #000000
}

article {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.art {
	-ms-flex-preferred-size: 55%;
	flex-basis: 55%;
	width: 100%;
}

.art img {
	width: 80%;
}

.text {
	margin: 10%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	width: 500px;
	color: #131313;
	font-size: 1.2rem;
	font-weight: 500;
}

.chiffre {
	font-family: edo;
	width: 100%;
	font-size: 4rem;
	margin: 0;
	position: relative;
	top: 50px;
	right: 60px;
	opacity: 0.5;
	color: #01d0ca;
}

h2 {
	width: 100%;
}

.divStreetArt {
	background-color: #01d0ca;
}

h1.center {
	font-family: edo;
	color: rgba(238, 119, 23, 0.623);
}

@media (max-width:768px) {
	article {
		flex-direction: column;
	}
	.left {
		flex-direction: column-reverse;
	}
	.container {
		height: 60vh;
	}
}