
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

*{
    
}

body {
    margin: 0 auto;
    color: white;
    font-family: Lato, sans-serif;
}


nav {
    padding-right:20px;
    background-color:#01d0ca;
}

nav ul {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: left;
    justify-content: flex-end;

}
nav ul li {
    padding: 20px;
    
}

nav ul li a {
    text-decoration: none;
}

nav ul img {
    justify-content: flex-start; 
}

header{
    background-image: ;
}

h1{
    color: blue;
}