@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    margin: 0 auto;
    font-family:'Lato';
    color: #ffffff;
    background-color: #343a40;
    overflow-x: hidden;
}

.nav {
    position: absolute;
}
.travler {
    font-family: "Anglena","sans-serif";
    font-size: 2rem;

}
.company {
    color: #b1dd04;
    font-family: 'Lato';
    font-size: 0.6em;
}

.navbar-brand {
    margin: 0;
}
.navbar a {
    color: #ffffff;
}
.navbar a:hover {
    background-color: #343a40;
}
.navbar-collapse{
    justify-content: flex-end;
    font-size: 0.8em;
}

.nav-item {
    padding: 10px;
}

.logo {
    display:flex;
    width: 100px;
    position: absolute;
    left : 50%;
    transform: translate(-50%);
    top: 15%;
    margin: 0;
}
.navbar .collapse .navbar-nav .nav-item .nav-link:hover {
    color: #b1dd04;
}
.dropdown-menu {
    top: 40px;
    background-color: #343a40;
    border:none;
}
.dropdown-item:hover {
    color:#b1dd04;
}

header {
    height: 100vh;
    margin: auto;
    color: #343a40;
}

.imgHeader {
    height: 60vh;
    background-image: url(photos/imgHeader.jpg);
    background-size: cover;
    background-position: center;
    top: 2px; 

    font-family: 'Anglena';
    font-size: 3rem;
    text-align: center;
}


.where{
    padding-top: 250px;
    font-size: 4rem;
}

.headerBoxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
    padding: 0 200px;
    position: relative;
    bottom:50px; 
}

.headerBox {
    width: 300px;
    height: 280px;
    background-color:#f9f7f8;
    border-radius: 20px;
    padding: 30px;

    box-shadow: 0 8px 6px -6px black;   
}
.headerBoxText {
    text-align: center;
    font-size: 1.1rem;
}

.carteSection {
    height: 100vh;
}
@media (max-width:900px) {
    .headerBoxes{
       /* visibility: hidden; */
    }
}

@media (max-width:1470px){
    .headerBoxes{
        padding: 0;
    }
}



