
body {
    margin: 0 auto;
    font-family: 'Open Sans';
    color: #ffffff;
    background-color: #F7F9FB;
    overflow-x: hidden;
}

header {
    height: 70vh;
    width: 100vw;
    margin: auto;
    color: #F7F9FB;
    background-image: url(photos/imgHeader2.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.where {
    font-family: 'Anglena';
    text-align: center;
    padding-top: 150px;
    font-size: 3rem;
    color: #ffffff;
}

.headerBoxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 100px;
}

.headerBox {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.headerBox img {
    width: 80%;
}

.choisirBox {
    background-color: #131313;
}
.choisir {
    height: 100px;
    color: rgb(17, 17, 17);
}

.carteSection {
    height: 100vh;
    

}
.carte {
    background-color: white;

}



@media (max-width:1000px) {

    .logo {
        visibility: hidden;
    }

    .headerBoxes {
        /* visibility: hidden; */
    }
}

@media (max-width:1470px) {
    .headerBoxes {
        padding: 0;
    }
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  #chartdiv {
    width: 100%;
    height: 500px;
  }